---
import BaseLayout from "../BaseLayout.astro";
---

<BaseLayout title="Specialties | Shay Mental Health">
  <div class="kicker">Specialties</div>
  <h1>Areas of Specialty</h1>
  <p style="max-width: 75ch;">
    Information about our areas of specialty in child and adolescent therapy.
  </p>
</BaseLayout>
